[Unit]
Description=Streamlit Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/yt-app
ExecStart=/home/ubuntu/yt-app/venv/bin/streamlit run app.py

[Install]
WantedBy=multi-user.target

